/*---------------------
	Header section
-----------------------*/
.header-section {
	padding: 50px 40px;
	background: #f2f7f8;
}

.site-logo h2 {
	font-size: 36px;
}

.site-logo h2 a {
    color: #fff;
    padding: 7px 20px;
    border: 2px solid;
    border-radius: 50%;
    border-left-color: #009fff;
    border-right-color: #009fff;
}

.site-logo p {
	font-size: 14px;
	line-height: normal;
}

.header-buttons a {
	margin-top: 15px;
}
.header-section{
    background-color: transparent;
    color:white;
}

.site-btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    min-width: 213px;
    min-height: 20px;
    text-align: center;
    padding: 20px 10px 15px;
    position: relative;
    background-color: #fff;
    margin-right: 10px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    background:transparent;
}
