	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
		<!-- Header section start -->
		<header class="header-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="site-logo">
							<h2><a href="#">R</a></h2>
							<!--p>Enhance your online presence</p-->
						</div>
					</div>
					<div class="col-md-8 text-md-right header-buttons">
						<a href="assets/images/Rakashpal.pdf" (click)="downloadResume()" target="_self" class="site-btn" download="cv(Rakashpal).pdf" >Download CV</a>
						<a href="javasript:void(0);" class="site-btn">Discover me</a>
					</div>
				</div>
			</div>
		</header>
		<!-- Header section end -->
		<app-notification></app-notification>