/*---------------------
	Footer section
-----------------------*/
.footer-section {
	
	padding: 20px 0;
	background: #3a4db4;
}

.copyright {
	padding-top: 5px;
	font-size: 12px;
	color: #838488;
	line-height: normal;
}