	<!-- Hero section start -->
  <section class="hero-section spad">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero-text">
                <h2>Rakashpal Singh</h2>
                <p>I’m a Web Developer,Languages currently working on Php, wordpress, angular2<sup>+</sup> .</p>
              </div>
              <div class="hero-info">
                <h2>General Info</h2>
                <ul>
                  <li><span>Date of Birth</span>Feb 27, 1991</li>
                  <li><span>Address</span>Chandigarh</li>
                  <li><span>E-mail</span>rakashpal87@gmail.com</li>
                  <li><span>Phone </span>+91 964-636-7199</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 text-md-center">
              <figure class="hero-image">
                <img src="assets/images/me-image.jpg"  alt="5">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero section end -->