<!-- Resume section start -->
<section class="resume-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 offset-xl-2">
        <div class="section-title">
          <h2>Work Experience</h2>
        </div>
        <ul class="resume-list">
          <li>
            <h2>2017-Present</h2>
            <h3>ChicMic</h3>
            <h4>Web Developer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
          <li>
            <h2>2016-2017</h2>
            <h3>eWeb A1Professionals Pvt Ltd</h3>
            <h4>Web Developer</h4>
            <p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
          <li>
            <h2>2015-2016</h2>
            <h3>Sun-softwares</h3>
            <h4>Web Developer</h4>
            <p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Resume section end -->

<!-- Resume section start -->
<section class="resume-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 offset-xl-2">
        <div class="section-title">
          <h2>Education</h2>
        </div>
        <ul class="resume-list">
          <li>
            <h2>2012-2015</h2>
            <h3>MCA</h3>
            <h4>Regional Institute of Management and Technology</h4>
            <p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
          <li>
            <h2>2009-2012</h2>
            <h3>BCA</h3>
            <h4>Regional Institute of Management and Technology</h4>
            <p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
          <li>
            <h2>2008</h2>
            <h3>+2</h3>
            <h4>Himachal Pradesh Board of School Education</h4>
            <p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Resume section end -->

