<!-- Resume section start -->
<section class="resume-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 offset-xl-2">
        <div class="section-title">
          <h2>Work Experience</h2>
        </div>
        <ul class="resume-list">
          <li>
            <h2>2016-Present</h2>
            <h3>Web Design Company</h3>
            <h4>Web Designer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
          <li>
            <h2>2014-2016</h2>
            <h3>Web Design Company</h3>
            <h4>Web Designer</h4>
            <p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Resume section end -->

<!-- Resume section start -->
<section class="resume-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 offset-xl-2">
        <div class="section-title">
          <h2>Education</h2>
        </div>
        <ul class="resume-list">
          <li>
            <h2>2008</h2>
            <h3>Ui/Ux Diploma</h3>
            <h4>Design College California</h4>
            <p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
          <li>
            <h2>2006</h2>
            <h3>Web design Diploma</h3>
            <h4>Design College California</h4>
            <p>Sit amet, consectetur adipiscing elit. Sed porttitor orci ut sapien scelerisque viverra. Sed trist ique justo nec mauris efficitur, ut lacinia elit dapibus. In egestas elit in dap ibus laoreet. Duis magna libero, fermentum ut facilisis id, pulvinar eget tortor. Vestibulum pelle ntesque tincidunt lorem, vitae euismod felis porttitor sed. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Resume section end -->

